{# empty Twig template #}
{% extends "FreelancerBundle::layout.html.twig" %}
{% block Body %}
    <h1>Liste des Projet</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-body table-responsive no-padding">
                        <h1>Vous etes sur ?? </h1>
                        <form method="POST">
                            <input type="submit" value="Valider"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}