{% extends "FreelancerBundle:Map:base.html.twig" %}
{% block container %}
    <input id="lat" type="hidden" value="{{latitude}}"/>
    <input id="long" type="hidden" value="{{langitude}}"/>
    <div id="googleMap" style="width:500px;height:380px;"></div>
{% endblock %}

